DEBUG=false

APP_HOST=0.0.0.0
APP_PORT=8000

DB_HOST=db
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=secret
DB_NAME=dbname

INITIAL_ADMIN_EMAIL=admin@email.com
INITIAL_ADMIN_PASSWORD=secret

SECRET=secret
